.timeline {
    overflow: clip;
    position: relative;
    height: 200px;

    &-items {
        transform: translate(var(--translate));
        display: flex;
        flex-direction: column;
        transition: all 0.13s;
    }

    &-item {
        background: var(--bg);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }

    &-indicator {
        z-index: 1;
        position: absolute;
        top: 0;
        background-color: black;
        // transform: translateX(-50%);
        width: 3px;
        opacity: 0.4;
        height: 100%;
    }
}