.timeline {
    overflow: clip;
    position: relative;
    height: 200px;

    &-items {
        position: relative;
        transform: translateX(var(--translate));
        transition: all 0.13s;
        height: 100%;
        width: 100%;
    }

    &-item {
        background: var(--bg);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        height: 35px; // 每一行的高度
        color: white;
        padding: 0 10px;
        box-sizing: border-box;
    }

    &-indicator {
        z-index: 1;
        position: absolute;
        top: 0;
        background-color: black;
        // transform: translateX(-50%);
        width: 3px;
        opacity: 0.4;
        height: 100%;
    }
}